@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.active {
    color: #7839F3 !important;
}

.pt-content {
    padding-top: 2.1875rem !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
